---
pagination:
  data: config.languages
  size: 1
  alias: locale
permalink: /{{ locale }}/search.json
eleventyExcludeFromCollections: true
---
{"search" : [
{%- for item in collections['posts_' + locale] -%}
  {
    "url" : "{{ item.url }}",
    "title" : "{{ item.data.title.trim() | removeQuotes }}"
  }{% if not loop.last %},{% else %}{%- endif -%}
{%- endfor -%}
]}